<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfServicioActualizacion.ServicioActualizacion"
        behaviorConfiguration="ServicioActualizacionBeh">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:9191/" />
          </baseAddresses>
        </host>
        <endpoint address ="Actualizador"
               binding="basicHttpBinding"
               contract="WcfServicioActualizacion.IServActualizacion" />

        <endpoint address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicioActualizacionBeh">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="DirActualizacion" value="C:\DirActualizacion"/>
  </appSettings>
</configuration>